/*--------------------------------------------------------------
Style homepage 
--------------------------------------------------------------*/
#ben_dashboard {
	.con_dashboard {
		padding: 0px;
		.box_bpoint_history {
			margin-bottom: 20px;
			background: #fff;
		}
		.box_dash_content {
			display: flex;
			display: -webkit-flex;
			.chart_dashboard {
				width: 63.66666667% !important;
    			float: left;
    			display: flex;
				display: -webkit-flex;
				.bpoint_history {
					width: 33.33%;
					float: left;
					padding: 50px 0;
					text-align: center;
					color: @white;
					img {
						margin-bottom: 30px;
					}
					.textac {
						line-height: 14px;
					}
					.total_number {
						font-size: 24px;
						font-weight: bold;
						padding: 7px 0 5px 0;
						line-height: 100%;
					}
				}
			}
			.chart_sidabar {
				width: 36.33333333% !important;
    			float: left;
    			padding-left: 20px;
    			.chart_activities {
    				background: @white;
    				padding: 25px 28px;
    				height: 100%;
    				.box_rheader {
    					margin-bottom: 30px;
    					h4 {
    						font-size: 14px;
    						text-transform: uppercase;
    					}
    					.all-list {
    						a {
    							color: #bebebe;
    						}
    					}
    				}
    				.ben_widget_post {
						padding: 0;
						margin: 0;
						// border-bottom: 1px solid @gray-lightest;
						li {
							display: block;
							padding: 10px 0;
							border-bottom: 1px solid @gray-lightest;
							overflow: hidden;
							p.photo {
								float: left;
								// width: 17%;
								img {
									width: 40px;
									height: 40px;
									// border-radius: 50%;
								}
							}
							.box_info {
								display: inline-block;
								padding-left: 15px;
								width: 82%;
								h6 {
									font-size: @font-size-base;
									line-height: 18px;
									margin: 0;
									padding: 0;
									font-weight: bold;
								}
								p.date {
									font-size: @font-size-small;
									color: #bebebe;
								}
							}
						}
					}
    			}
			}

		}
	}
}