.header-download {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: flex-start ;
	align-items: center ;
	align-content: center ;
	z-index: 9;
	background: #fef6f3;
	height: 60px;
	padding: 0 10px;
	.close-icon {
		max-width: 35px;
	}
	.aapicon {
		max-width: 40px;
		margin: 0 10px;
	}
}
#page {
	@media (max-width: @screen-xs-max) {
		padding-top: 60px;
	}
	&.noDowload {
		padding-top: 0;
	}
}
.fixed-contain {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -50px;
    z-index: 9;
    width: 99px;
    height: 100px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.fixed-contain .right-fixed-con {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 80;
    // width: 64px;
    list-style: none;
    // height: 220px;
    // background: #fff;
    // -webkit-box-shadow: 0 12px 15px 0 rgba(71,71,71,.1), 0 20px 60px 0 rgba(71,71,71,.11);
    // box-shadow: 0 12px 15px 0 rgba(71,71,71,.1), 0 20px 60px 0 rgba(71,71,71,.11);
    // border-radius: 25px;
    text-align: center;
}

.right-fixed-con {
	li {
		list-style: none;
		margin-bottom: 15px;
		padding: 4px;
		border-radius: 50%;
		border: 1px dashed transparent;
		&:hover {
			border: 1px dashed #fff;
			a {
				color: @blue;
			}
		}

		a {
			display: inline-block;
	      width: 50px;
	      height: 50px;
	      background: #fff;
	      text-align: center;
	      line-height: 48px;
	      border: 1px solid #fff;
	      margin-right: 15px;
	      color: @brand-primary;
	      border-radius: 50%;
	      i {
	      	font-size: 20px;
	      }
	      .fa-phone-volume {
	      	transform: rotate(-45deg);
	      }
	      // &:hover {
	      //   border: 1px dashed #fff;
	      //   color: #fff;
	      //   background: transparent;
	      // }
		}
	}
}
.scroll_top {
	position: fixed;
    right: 20px;
    bottom: 20px;
    margin-top: -50px;
    z-index: 100;
    // width: 65px;
    // height: 100px;
    a {
    	background: transparent;
    	padding: 4px;
    	border: 1px dashed #fff;
    	display: block;
    	border-radius: 50%;
    	i {
    		width: 50px;
	    	height: 50px;
	    	line-height: 50px;
	    	background: #fff;
	    	color: rgba(0, 0, 0, 0.61);
	    	font-size: 20px;
	    	border-radius: 50%;
	    	text-align: center;
    	}
    }
}
.scroll_top_mobile {
	position: absolute;
    right: 5px;
    top: 50px;
    margin-top: -50px;
    z-index: 100;
    // width: 65px;
    // height: 100px;
    a {
    	background: transparent;
    	padding: 4px;
    	border: 1px dashed #fff;
    	display: block;
    	border-radius: 50%;
    	i {
    		width: 50px;
	    	height: 50px;
	    	line-height: 50px;
	    	background: #fff;
	    	color: rgba(0, 0, 0, 0.61);
	    	font-size: 20px;
	    	border-radius: 50%;
	    	text-align: center;
    	}
    }
}

.con_present {
	bottom: -110px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	position: fixed;
	// bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	text-align: center;

	&.sticky {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		text-align: center;
		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 110px;
			background: #4bb4dd;
			content: "";
		}
		.box_present {
			p.photo {
				opacity: 1;
			}
		}
	}

	.box_present {
		max-width: 90%;
		  @media (min-width: 1800px) {
		    width: 1720px;
		  }
		margin: 0 auto;
		display: flex ;
		flex-direction: row ;
		flex-wrap: wrap ;
		justify-content: center ;
		align-items: center;
		align-content: center ;
		position: relative;
		color: #fff;
		.box_info {
			display: flex ;
			flex-direction: row ;
			flex-wrap: wrap ;
			justify-content: center ;
			align-items: center ;
			align-content: center ;
			position: relative;
			z-index: 2;
			@media (min-width: @screen-lg-min) {
				padding-right: 250px;
			}
			@media (min-width: 1800px) {
				padding-right: 30px;
			}

			@media (max-width: @screen-xs-max) {
				display: flex ;
				flex-direction: column; ;
				flex-wrap: wrap ;
				justify-content: flex-start ;
				align-items: flex-start ;
				align-content: flex-start ;
				position: relative;
				width: 100%;
			}
			h4 {
				font-size: 26px;
				@media (min-width: @screen-lg-min) {
				    font-size: 24px;
				    margin-bottom: 16px;
				  }
				  @media (min-width: 1800px) {
				    font-size: 30px;
				  }
				  @media (max-width: @screen-xs-max) {
						font-size: 20px;
					}
			}
			.form-group {
				display: flex ;
				flex-direction: row ;
				flex-wrap: wrap ;
				justify-content: center ;
				align-items: center ;
				align-content: center ;
				min-width: 400px;
				margin-bottom: 30px;

				@media (max-width: @screen-xs-max) {
					justify-content: flex-start ;
					align-items: flex-start ;
					align-content: flex-start ;
					// position: relative;
					margin-bottom: 20px;
				}
				.form-control {
					max-width: 250px;
					background: #fff;
					border: 0;
					margin: 0 10px;
					.placeholder(#666666);
					padding-left: 45px;
					background: url(../images/ic_phone_gray.png) left center no-repeat #fff;
					@media (max-width: @screen-xs-max) {
						margin: 0 10px 0 0;
						height: 40px;
						line-height: 40px;
						max-width: 200px;
					}
				}
				.btn {
					background: @brand-primary!important;
					width: 110px;
					border-radius: 10px;
					@media (max-width: @screen-xs-max) {
						// margin: 0 10px 0 0;
						height: 40px;
						line-height: 40px;
					}
				}
			}

		}
		p.photo {
			position: absolute;
			bottom: 0;
			right: 0;
			opacity: 0;
			text-align: right;
			z-index: 0;
			@media (max-width: @screen-xs-max) {
				right: -20px;
			}
			img {
				@media (min-width: @screen-lg-min) {
				    max-width: 80%;
				  }
				  @media (min-width: 1800px) {
				    max-width: 100%;
				  }
				  @media (max-width: @screen-xs-max) {
						max-width: 50%;
					}
			}
		}
	}
}
.box-shadow {
	.box-shadow();
}
.st_title {
	.st_title();
}
.con_main {
	.box_slide_main {
		@media (max-width: @screen-xs-max) {
			padding-bottom: 100px;
		}
		.box_slide {
			position:relative;

			background: url(../images/img_slide1.png) top left no-repeat @brand-primary;
			background-size: cover;
			vertical-align: top;
			@media (min-width: @screen-lg-min) {
				min-height: 550px;
			}
			@media (min-width: 1800px) {
				min-height: 800px;
			}
			.container-wrap {
				@media (min-width: @screen-lg-min) {
					min-height: 550px;
				}
				@media (min-width: 1800px) {
					min-height: 800px;
				}
				display: -moz-box;
			    display: -webkit-flexbox;
			    display: -ms-flexbox;
			    display: -webkit-flex;
			    display: -moz-flex;
			    display: flex;
			    // -webkit-flex-direction: row;
			    // -moz-flex-direction: row;
			    // -ms-flex-direction: row;
			    // flex-direction: row;
			}
			.form-control {
				padding-left: 40px;
				background: url(../images/ic_phone.png) left center no-repeat;
			    background-position-x: 10px;
			    color: #fff;
			    max-width: 220px;
			    margin-right: 10px;
			    border: 1px dashed #fff;
			    .placeholder(white);
			}
			.box_main_info {
				color: #fff;
				display: flex ;
				flex-direction: column ;
				flex-wrap: wrap ;
				justify-content: center ;
				align-items: flex-start ;
				align-content: center ;
				height: 100%;
				padding-right: 50px;
				@media (min-width: @screen-lg-min) {
					min-height: 550px;
				}
				@media (min-width: 1800px) {
					min-height: 800px;
				}
				@media (max-width: @screen-xs-max) {
			        padding: 35px 0 60px 0;
			    }
				h3 {
					font-size: 30px;
					// font-family: 'Chelsea Market', cursive;
					@media (min-width: @screen-md-min) {
					    font-size: 45px;
					  }
					  @media (min-width: @screen-lg-min) {
						max-width: 700px;
					    font-size: 55px;
					  }
					  @media (min-width: 1800px) {
					    font-size: 75px;
					  }
				}
				.intro {
					margin: 40px 0;
					@media (max-width: @screen-xs-max) {
				        margin: 20px 0;
				    }
				}
				.box_btn {
					display: flex ;
					flex-direction: row ;
					flex-wrap: wrap ;
					justify-content: flex-start ;
					align-items: center ;
					align-content: center ;
					width: 100%;

					@media (max-width: @screen-xs-max) {
				        background: #fff;
				        position:absolute;
				        bottom: -100px;
				        left: 20px;
				        right: 20px;
				        display: block;
				        text-align: center;
				        padding: 20px;
				        border-radius: 10px;
				        width: auto;
				        .box-shadow();
				    }
				    .form-control {
				    	@media (max-width: @screen-xs-max) {
				    		margin: 0 auto;
				    		padding-left: 50px;
				    		border: 1px dashed @brand-primary;
				    		.placeholder(#666666);
				    		background: url(../images/ic_phone_gray.png) left center no-repeat;
			    			background-position-x: 10px;
			    			color: @text-color;
				    	}
				    }
					.btn-number {
						background: transparent;
						border: 1px dashed #fff;
						padding: 0 10px;
						line-height: 40px;
						margin-right: 7px;
						font-size: 15px;
						font-family: @font-family-serif;
						@media (max-width: @screen-xs-max) {
							display: block;

						}
						img {
							display: inline-block;
							margin-right: 10px;
						}
					}
					.btn-ssm {
						@media (max-width: @screen-xs-max) {
							display: inline-block;
							background: url("../images/bg_btn1.png") top left no-repeat!important;
						    width: 120px;
						    height: 50px;
						    line-height: 55px;
						    margin-top: 10px;
						    color: #fff;
						}
					}
				}
			}
		}
		.slick-dots {
			position: absolute;
			width: 100%;
			text-align: center;
			list-style: none;
			text-align: center;
			bottom: 40px;
			@media (max-width: @screen-xs-max) {
		        bottom: 0px;
		    }
			li {
				list-style: none;
				display: inline-block;
				margin: 0 5px;
				padding: 3px;
				background: transparent;
				border: 1px solid transparent;
				width: 24px; height: 24px;
				border-radius: 50%;
				outline: none!important;
				@media (max-width: @screen-xs-max) {
			        width: 20px; height: 20px;
			    }
				&.slick-active {
					border: 1px solid #fff;
					button {
						background: #fff;
					}
				}
				button {
					border: 0;
					width: 16px;
					height: 16px;
					background: rgba(255,255,255,0.2);
					border-radius: 50%;
					text-indent: -999em;
					outline: none!important;
					display: inline-block;
					@media (max-width: @screen-xs-max) {
				        width: 12px; height: 12px;
				        display: inline-block;
				    }
					// position
				}
			}
		}
	}
}
.slick-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	list-style: none;
	text-align: center;
	bottom: 40px;
	margin: 0;
	padding: 0;
	@media (max-width: @screen-xs-max) {
        bottom: 0px;
    }
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
		padding: 3px;
		background: transparent;
		border: 1px solid transparent;
		width: 24px; height: 24px;
		border-radius: 50%;
		outline: none!important;
		@media (max-width: @screen-xs-max) {
	        width: 20px;
	        height: 20px;
	    }
		&.slick-active {
			border: 1px solid #fff;
			button {
				background: #fff;
			}
		}
		button {
			border: 0;
			width: 16px;
			height: 16px;
			background: rgba(255,255,255,0.2);
			border-radius: 50%;
			text-indent: -999em;
			outline: none!important;
			display: inline-block;
			@media (max-width: @screen-xs-max) {
		        width: 14px;
		        height: 14px;
		        display: inline-block;
		    }
			// position
		}
	}
}
.con_intro {
	padding: 75px 0;
	overflow: hidden;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0;
    }
    h3 {
    	font-size: 35px;
    	margin-bottom: 15px;
    	line-height: 100%;
    	margin-top: -5px;
    	@media (max-width: @screen-xs-max) {
			font-size: 25px;
			margin-bottom: 10px;
		}
    	span {
    		font-size: 25px;
    		color: @brand-primary;
    		font-family: @font-family-serif;
    		display: block;
    		margin-bottom: 10px;
    		@media (max-width: @screen-xs-max) {
				font-size: 19px;
			}
    	}
    }
    p.photo_intro {
    	border-radius: 10px;
    	margin-bottom: 30px;
    	.box-shadow-hover();
    	img {
    		border-radius: 10px;
    	}
    }
    .photo_intro{
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0;
	}
	.photo_intro iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
	.box_intro {
		position: relative;
		text-align: center;
		&:before {
			content: "";
			position: absolute;
			left: -20%;
			top: 2%;
			width: 189px;
			height: 194px;
			background: url(../images/bg_intro1.png) center center no-repeat ;
		}
		&:after {
			content: "";
			position: absolute;
			right: -100px;
			bottom: 5%;
			width: 175px;
			height: 187px;
			background: url(../images/bg_star.png) center center no-repeat ;
		}
		h5 {
			text-align: center;
			display: inline-block;

			font-family: @font-family-serif;
			span {
				display: block;
				color: #666666;
				padding-top: 5px;
			}
		}
	}
	h6 {
		color: @gray-light;
		font-size: @font-size-base;
		margin-bottom: 15px;
		span {
			display: block;
			color: @blue;
			font-size: 28px;
			margin-top: 5px;
			@media (max-width: @screen-xs-max) {
				font-size: 22px;
				// margin-bottom: 10px;
			}
		}
	}
	.box_info {
		@media (max-width: @screen-xs-max) {
	        margin-top: 30px;
	    }
	}
	.box_sign {
		display: flex ;
		flex-direction: row ;
		// flex-wrap: wrap ;
		justify-content: flex-start ;
		align-items: flex-start ;
		align-content: center ;
		padding: 10px 0;
		@media (max-width: @screen-xs-max) {
	        display: flex ;
			flex-direction: column ;
			flex-wrap: wrap ;
			justify-content: center ;
			align-items: center ;
			align-content: center ;
	    }
		p.photo {
			margin-right: 50px;
			@media (max-width: @screen-xs-max) {
		        margin-right: 0px;
		        margin-bottom: 10px;
		    }
		}
	}
}
.con_course {
	background: url(../images/bg_course.png) center center no-repeat #dbf0f8;
	padding: 125px 0;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0;
    }
	h3.st_title {
		margin-bottom: 45px;
	}
	.box_course {
		// color: #fff;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				list-style: none;
				width: 25%;
				float: left;
				text-align: center;
				// margin: 60px auto;
				@media (max-width: @screen-xs-max) {
			        width: 50%;
			        padding: 0 5px;
			        margin-bottom: 20px;
			    }
				&:nth-child(2){
					.photo {
						padding-top: 130px;
						@media (max-width: @screen-xs-max) {
					        padding-top: 0;
					    }
					}
				}
				&:nth-child(3){
					.photo {
						padding-top: 130px;
						@media (max-width: @screen-xs-max) {
					        padding-top: 0;
					    }
					}
				}
				&:nth-child(4){
					.photo {
						padding-top: 60px;
						@media (max-width: @screen-xs-max) {
					        padding-top: 0;
					    }
					}
				}
				p.photo {
					margin-bottom: 40px;
					img {
						border-radius: 50%;
					}
					position: relative;
					.num1 {
						position: absolute;
						bottom: 18px;
    					left: 50px;
    					@media (max-width: @screen-xs-max) {
					        top: 10px!important;
					        right:  10px!important;
					        bottom: auto!important;
					        left: auto!important;
					    }
					}
					.num2 {
						position: absolute;
						top: 170px;
    					left: 40px;
    					@media (max-width: @screen-xs-max) {
					        top: 10px!important;
					        right:  10px!important;
					        bottom: auto!important;
					        left: auto!important;
					    }
					}
					.num3 {
						position: absolute;
						bottom: 55px;
    					right: 30px;
    					@media (max-width: @screen-xs-max) {
					        top: 10px!important;
					        right:  10px!important;
					        bottom: auto!important;
					        left: auto!important;
					    }
					}
					.num4 {
						position: absolute;
						bottom: 40px;
    					right: 40px;
    					@media (max-width: @screen-xs-max) {
					        top: 10px!important;
					        right:  10px!important;
					        bottom: auto!important;
					        left: auto!important;
					    }
					}

				}
				h4 {
					// min-height: 40px;
					font-size: 19px;
					margin: 0 auto 10px auto;
					padding: 0;
				}
			}
		}
	}
}

.con_list_commit {
	background: #ffe3e5;
	padding: 120px 0;
	overflow: hidden;
	@media (max-width: @screen-xs-max) {
        padding: 75px 0;
    }
    .box_list_commit {
    	position: relative;
		&:after {
			content: "";
			position: absolute;
			right: -250px;
			bottom: 35%;
			width: 200px;
			height: 200px;
			background: url(../images/img_train.png) center center no-repeat ;
		}
    }
	.photo_intro {
		@media (max-width: @screen-xs-max) {
	        max-width: 80%;
	        margin: 0 auto;
	        margin-bottom: 40px;
	    }
	}
	.box_intro {
		padding-left: 30px;
		@media (max-width: @screen-xs-max) {
			padding-left: 0;
		}
		h3 {
			.st_title_left();
			margin-bottom: 70px;
			@media (max-width: @screen-xs-max) {
		        .st_title();
		        margin-bottom: 40px;
		    }
		}
		ul {
			margin: 0 -15px;
			padding: 0;
			list-style: none;
			overflow: hidden;
			li {
				list-style: none;
				width: 50%;
				float: left;
				text-align: center;
				margin-bottom: 25px;
				padding: 0 15px;
				// margin: 0px 15px 25px 15px;
				@media (max-width: @screen-xs-max) {
			        margin: 20px auto;
			    }
			    .box_inner {
			    	background: #fff;
			    	padding: 40px 0;
			    	border-radius: 10px;
			    	@media (max-width: @screen-xs-max) {
			    		padding: 15px 0;
			    	}
			    }
				p.photo {
					margin-bottom: 20px;
				}
				h4 {
					max-width: 200px;
					min-height: 40px;
					font-size: 19px;
					margin: 0 auto;
					padding: 0;
					@media (max-width: @screen-xs-max) {
				        font-size: 14px;
				        min-height: 40px;
				    }
				}
			}
		}
	}
}


.con_list_teacher {
	padding: 125px 0;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0;
    }
    position: relative;
    overflow: hidden;
    .slick-arrow {
		top: 50%;
	    left: -60px;
	    width: 50px;
	    height: 13px;
	    margin-top: -25px;
	    background: url(../images/ic_prev.png) center center no-repeat;
	    border: 0!important;
	    position: absolute;
	    text-indent: -999em;
	    background-size: contain;
	    &.slick-next {
	    	background: url(../images/ic_next.png) center center no-repeat;

		    background-size: contain;
		    right: -60px;
		    left: auto;
	    }
	}
    .slick-dots {
    	bottom: 20px;
		li {
			list-style: none;
			display: inline-block;
			margin: 0 5px;
			padding: 3px;
			background: transparent;
			border: 1px solid transparent;
			width: 24px; height: 24px;
			border-radius: 50%;
			outline: none!important;
			@media (max-width: @screen-xs-max) {
		        width: 20px!important;
		        height: 20px!important;
		        padding: 2px!important;
		    }
			&.slick-active {
				border: 1px solid @brand-primary;
				button {
					background: @brand-primary;
				}
			}
			button {
				border: 0;
				width: 16px;
				height: 16px;
				background: @brand-primary;
				border-radius: 50%;
				text-indent: -999em;
				outline: none!important;
				display: inline-block;
				@media (max-width: @screen-xs-max) {
			        width: 14px!important;
			        height: 14px!important;
			        line-height: 14px;
			        display: block!important;
			        padding: 0;
			    }
				// position
			}
		}
	}
	.box_list_teacher {
		padding-bottom: 50px;
		.box_item {
			@media (max-width: @screen-xs-max) {
		        padding: 0px 5px;
		    }
		}
		.box_teacher {
			display: flex ;
			flex-direction: row ;
			// flex-wrap: wrap ;
			justify-content: flex-start ;
			align-items: flex-start ;
			align-content: center ;
			background: #fff;
			border-radius: 10px;
			margin-bottom: 30px;
			.box-shadow-hover();
			.box-shadow();
			p.photo {
				width: 47%;
				img {
					border-radius: 10px 0 0 10px;
				}
			}
			.box_intro {
				width: 53%;
				padding: 45px 30px 0 30px;
				@media (max-width: @screen-xs-max) {
			        padding: 15px 10px 0 10px;
			    }
				h3 {
					font-size: 19px;
					margin-bottom: 20px;
					@media (max-width: @screen-xs-max) {
				        margin-bottom: 10px;
				    }
					span {
						display: block;
						font-size: 15px;
						font-family: @font-family-serif;
						color: @brand-primary;
						font-weight: 500;
					}
				}
			}
		}
		.box_btn {
			text-align: center;
			.btn {
				margin: 50px auto 0 auto;
				@media (max-width: @screen-xs-max) {
			        margin: 0 auto;
			    }
			}
		}
	}
	// Method 2) Using a Sprite
	.star-ratings-sprite {
	  background: url("../images/ic-star04.png") repeat-x;
	  font-size: 0;
	  height: 25px;
	  line-height: 0;
	  overflow: hidden;
	  text-indent: -999em;
	  width: 125px;
	  margin: 0 20px 0 0;

	  &-rating {
	    background: url("../images/ic-star04.png") repeat-x;
	    background-position: 0 100%;
	    float: left;
	    height: 23px;
	    display:block;
	  }
	 }
	.our-reviewer-item {
  //       display: flex ;
		// flex-direction: row ;
		// // flex-wrap: wrap ;
		// justify-content: flex-start ;
		// align-items: flex-start ;
		// align-content: center ;
		position: relative;
		padding: 25px 0;
		@media (max-width: @screen-xs-max) {
	        padding: 10px 0;
	    }
		h6 {
			position: absolute;
			top: 30px;
			left: 155px;
			font-size: 17px;
			@media (max-width: @screen-xs-max) {
		        top: 18px;
				left: 135px;
		    }
		}
    }

}

.con_reason {
	padding: 125px 0 80px 0;
	// background: #dbf0f8;
	background: url(../images/bg_reason.png) center center no-repeat #dbf0f8;
	position: relative;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0 40px 0;
    }
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	left: 5%;
	// 	top: 40%;
	// 	width: 250px;
	// 	height: 230px;
	// 	background: url(../images/bg_reason1.png) center center no-repeat #dbf0f8;
	// }
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	right: 5%;
	// 	bottom: 5%;
	// 	width: 250px;
	// 	height: 230px;
	// 	background: url(../images/bg_reason2.png) center center no-repeat #dbf0f8;
	// }

	.st_title {
		margin-bottom: 60px;
		@media (max-width: @screen-xs-max) {
	        margin-bottom: 40px;
	    }
	}
	.box_reason {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				list-style: none;
				width: 33.33%;
				float: left;
				text-align: center;
				margin: 40px auto;
				&:nth-child(4){
			    	clear: left;
			    	@media (max-width: @screen-xs-max) {
			    		clear: none;
			    	}
			    }
				@media (max-width: @screen-xs-max) {
			        width: 50%;
			        margin: 20px auto;
			    }

				p.photo {
					margin-bottom: 30px;
					padding: 0 10px;
				}
				h4 {
					min-height: 40px;
					font-size: 19px;
					margin: 0 auto;
					padding: 0;
					line-height: 130%;
					@media (max-width: @screen-xs-max) {
				        font-size: 16px;
				    }
				}
			}
		}
	}
}
.con_pack_tuition {
	padding: 125px 0;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0;
    }
	.box_pack_tuition {
		.box_item {
			border-radius: 10px;
			background: #fff;
			.box-shadow();
			.box-shadow-hover();
			// .box-shadow();
			@media (max-width: @screen-xs-max) {
				margin-bottom: 20px;
			}
			&.middle {
				.box_pheader {
					background: url(../images/img_pack2.png) center center no-repeat ;
					background-size:cover;
				}
				.box_info {
					h4.price {
						color: @blue;

					}
				}
			}
			&.right {
				.box_pheader {
					background: url(../images/img_pack3.png) center center no-repeat ;
					background-size:cover;
				}
				.box_info {
					h4.price {
						// color: @blue;

					}
				}

			}

			.box_pheader {
				background: url(../images/img_pack1.png) center center no-repeat ;
				color: #fff;
				height: 140px;
				border-radius: 10px 10px 0 0;
				display: flex ;
				flex-direction: row ;
				flex-wrap: wrap ;
				justify-content: center ;
				align-items: center ;
				align-content: center ;
				@media (max-width: @screen-xs-max) {
					height: 80px;
					background-size:cover;
				}
				h4 {
					text-align: center;
					color: #fff;
					font-size: 30px;
				}
			}
			.box_info {
				text-align: center;
				padding: 50px 0;
				@media (max-width: @screen-xs-max) {
					padding: 30px 0;
				}
				h4.price {
					color: @brand-primary;
					font-size: 40px;
					@media (max-width: @screen-xs-max) {
						font-size: 26px;
					}
					span {
						font-size: 32px;
						color: #cccccc;
						display: inline-block;
						position: relative;
						@media (max-width: @screen-xs-max) {
							font-size: 20px;
						}
						&:before {
							content: "";
							top: 30%;
							left: -5px;
							height: 1px;
							right: -5px;
							background: #cccccc;
							position:absolute;
						}
					}
				}
				ul {
					padding: 0;
					margin: 20px 0 40px 0;
					list-style: none;
					@media (max-width: @screen-xs-max) {
						margin: 20px 0;
					}
					li {
						list-style: none;
						color: @gray-light;
						line-height: 200%;
						span {
							color: @text-color;
							// font-family: @headings-font-family;
							font-size: 17px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
.con_list_news {
	padding: 125px 0;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0;
    }
	h1, h2, h3, h4, h5, h6, ul {
		margin: 0 0 20px;
	}
	.content p {
		margin: 0 0 30px;
	}
	.box_news {
		p.photo
		{
			border-radius: 5px;
			img {
				border-radius: 5px;
				@media (max-width: @screen-xs-max) {
			        width: 100%;
			    }
			}
		}
		.box_desc {
			@media (max-width: @screen-xs-max) {
		        margin-bottom: 25x;
		    }
			.box_info {
				display: flex ;
				flex-direction: row ;
				// flex-wrap: wrap ;
				justify-content: flex-start ;
				align-items: flex-start ;
				align-content: center ;
				padding: 23px 0;
				@media (max-width: @screen-xs-max) {
			        padding: 15px 0;
			    }
				p {
					color: @brand-primary;
					padding-right: 20px;
				}
			}
			a {
				// color: @blue;
				font-size: 19px;
				font-family: @headings-font-family;
			}
		}
	}
}
.con_reviewer {
	position: relative;
	padding: 125px 0;
	overflow: hidden;
	@media (max-width: @screen-xs-max) {
        padding: 75px 0;
    }
	.box_list_reviewer {
		position: relative;
		.slick-arrow {
			top: 50%;
		    left: -60px;
		    width: 50px;
		    height: 13px;
		    margin-top: -25px;
		    background: url(../images/ic_prev.png) center center no-repeat;
		    border: 0!important;
		    position: absolute;
		    text-indent: -999em;
		    background-size: contain;
		    &.slick-next {
		    	background: url(../images/ic_next.png) center center no-repeat;

			    background-size: contain;
			    right: -60px;
			    left: auto;
		    }
		}
		.box_item {
			padding: 0 10px;
			.box_intro {
				border-radius: 15px 40px 15px 40px;
			    padding: 20px;
			    margin-bottom: 20px;
			    background: url(../images/bg_review.png) top left no-repeat;
			    min-height: 154px;
			    background-size: contain;
			    @media (max-width: @screen-xs-max) {
			        padding: 15px;
			    	margin-bottom: 0px;
			    }

			}
			.box_teacher {
				display: flex ;
				flex-direction: row ;
				flex-wrap: wrap ;
				justify-content: flex-start ;
				align-items: center ;
				align-content: center ;
				padding-left: 40px;
				p.photo {
					margin-right: 15px;
				}

				h3 {
					font-size: 19px;
					span {
						color: @brand-primary;
						font-family: @font-family-serif;
						font-size: @font-size-base;
						display: block;
						font-weight: 500;
					}
				}
			}
		}
	}
}
.con_signup {
	padding: 125px 0 0px 0;
	// background: #dbf0f8;
	background: #ffe3e5;
	position: relative;
	overflow: hidden;
	@media (max-width: @screen-xs-max) {
        padding: 60px 0 40px 0;
    }
    .box_signup {
    	position: relative;
    	&:before {
			content: "";
			position: absolute;
			left: -50%;
			top: 20%;
			width: 230px;
			height: 235px;
			background: url(../images/bg_signup1.png) center center no-repeat ;
		}
		&:after {
			content: "";
			position: absolute;
			right: -40%;
			bottom: 12%;
			width: 273px;
			height: 176px;
			background: url(../images/bg_signup2.png) center center no-repeat ;
		}
    	.form-group {
    		@media (max-width: @screen-xs-max) {
		        margin-bottom: 0px;
		    }
    	}
    	.form-control {
    		@media (max-width: @screen-xs-max) {
		        margin-bottom: 20px;
		    }
    	}
    }
}
.con_banner {
	padding: 0px 0 125px 0;
	@media (max-width: @screen-xs-max) {
        padding: 0px;
    }
	.box_banner {
		padding: 0;
		margin: 0;
		// display: flex ;
		.slick-slide {
			// list-style: none;
			// width: 20%;
			img {
				max-width: 85%;
			}
		}
	}
}
.box-txt {
	color: @gray-light;
	@media (max-width: @screen-xs-max) {
        font-size: 13px;
    }
}
